services:
  # Spring Boot Web Service
  - type: web
    name: demo-board-app
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: SERVER_PORT
        value: 8080
      # Using H2 Database (configured in application.properties), so DB env vars are removed.
      - key: SPRING_DATA_REDIS_HOST
        fromService:
          type: redis
          name: redis-cache
          property: host
      - key: SPRING_DATA_REDIS_PORT
        fromService:
          type: redis
          name: redis-cache
          property: port

  # Managed Redis Service
  - type: redis
    name: redis-cache
    plan: free # Render offers a free Redis instance
    ipAllowList: [] # Internal access only