databases:
  - name: board-db
    plan: free
    databaseName: board_db
    user: board_user

services:
  # Spring Boot Web Service
  - type: web
    name: demo-board-app
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: SERVER_PORT
        value: 8080
      
      # Database Connection (Linking to the Free Postgres DB above)
      - key: DB_HOST
        fromDatabase:
          name: board-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: board-db
          property: port
      - key: DB_NAME
        fromDatabase:
          name: board-db
          property: database
      - key: DB_USER
        fromDatabase:
          name: board-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: board-db
          property: password
          
      # Redis Connection
      - key: SPRING_DATA_REDIS_HOST
        fromService:
          type: redis
          name: redis-cache
          property: host
      - key: SPRING_DATA_REDIS_PORT
        fromService:
          type: redis
          name: redis-cache
          property: port

  # Managed Redis Service
  - type: redis
    name: redis-cache
    plan: free
    ipAllowList: []